use-conda: True
executor: cluster-generic
cluster-generic-submit-cmd:
  mkdir -p slurmlogs/{rule} &&
  sbatch
    --job-name=smk-{rule}-{wildcards}
    --nodes=1
    --ntasks=1
    --cpus-per-task={threads}
    --output=slurmlogs/{rule}/{rule}-{wildcards}-%j.out
    --error=slurmlogs/{rule}/{rule}-{wildcards}-%j.err
    --parsable

# Snakemake options
restart-times: 3
max-jobs-per-second: 10
max-status-checks-per-second: 1
latency-wait: 60
jobs: 80
local-cores: 4
cores: 16
keep-going: True
rerun-incomplete: True
printshellcmds: True
scheduler: greedy
use-conda: True
cluster-generic-status-cmd: bash workflow-profiles/cluster-generic-slurm/status_control.sh
set-threads:
  get_fastq_pe: 8
  fastp: 8
  bwa_map: 16
  dedup: 16
  wham_call: 10